<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="static/pics/eyeIcon.png"/>
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->
</head>
<body style="background-color: rgb(187, 187, 189)">

    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1><font color= "#428bca"> Method for Training a Retinal Implant</h1>
                <br><br>
                <h5>Marie Oceane Parent | Khantapob Yatanathathit | Dana Martell </h5></font>
            </div>
        </div>
    </div>




<nav class="navbar-default" style="background-color: white">
    <div class="container-fluid">
        <!-- <div class="navbar-header">
            <div class="col-md-6 col-sm-6">
            <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Number of Pixels</h3>
                    </div>
                    <div id="sample-metadata" class="panel-body">
                        <select id="selNBpix" onchange="nbpixChanged(this.value)"></select>
                    </div>
                </div></div>
                <div class="col-md-6 col-sm-6">
                <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Transformation Type</h3>
                        </div>
                        <div id="sample-metadata" class="panel-body">
                            <select id="selTransform" onchange="transformChanged(this.value)"></select>
                        </div>
                    </div>
                </div></div> -->

        
        </div>
        <br>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <select id="selTransform" onchange="transformChanged(this.value)"></select>
                <select id="selNBpix" onchange="nbpixChanged(this.value)"></select>
                
                <!-- <div class="panel-heading">                        
                        <select id="selTransform" onchange="transformChanged(this.value)"></select>
                </div>
                <div class="panel-heading">                        
                        <select id="selNBpix" onchange="nbpixChanged(this.value)"></select>
                </div>
                <li>Transformation</li>
                 <li class="nav_left">Transformation type</li> -->
                <!-- <li><select id="selTransform" onchange="transformChanged(this.value)"></select></li>
                <br>      
                <li>Nb of pixels</li>
                <li><select id="selNBpix" onchange="nbpixChanged(this.value)"></select></li>
                 -->
                
            </ul>
                <ul class="nav navbar-nav navbar-right">
            <a class="navbar-brand" href="http://127.0.0.1:5000/" style="color: rgb(66,139,202); background-color:white">
            <i class="glyphicon glyphicon-home"></i>
                    <!-- <a class="navbar-brand" href="info.html" style="color: rgb(66,139,202); background-color: white"> -->
                    <a class="navbar-brand" href="http://127.0.0.1:5000/info" style="color: rgb(66,139,202); background-color: white">
                    <i class="glyphicon glyphicon-eye-open"></i>
                    <a class="navbar-brand" href="http://127.0.0.1:5000/report" target="_blank" style="color: rgb(66,139,202); background-color:white">
                    <i class="glyphicon glyphicon-tasks"></i>
            </a>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container-fluid">
<div class="row">
    <div class="col-md-4">
        <div class="well">
            <!-- RANDOM MATRIX -->
            <button class="btn btn-block btn-primary" id="random_img_btn" onclick="randomImage()">Random Input</button>
            <div class="center" id="svg-random-img"></div>
        </div>
        <div class="well">
                <button class="btn btn-block btn-primary" id="created_img_btn" onclick="createdImage()">Use the created image</button>
                <div class="center" id="svg-create-img"></div>
        </div>
    </div>
<center>
    <div class="col-md-8">
        <div class="well">
            <div class="row" style = "padding-bottom: 10px">
                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">                        
                            <h3 class="panel-title">Input</h3>
                        </div>
                        <div id="sample-metadata" class="panel-body">
                            <!-- INPUT IMAGE -->
                            <div id="svg-input-img"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Corrected Input</h3>
                        </div>
                        <div id="sample-metadata" class="panel-body">
                            <div id="svg-cor-img"></div>
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="col-md-12">
                    <div class="row" style = "padding-bottom: 0px">
                        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3">
                            <div class="panel panel-primary">
                                <div class="panel-heading">                                
                                    <h3 class="panel-title">Mangled Output</h3>
                                </div>
                                <div id="sample-metadata" class="panel-body">
                                    <!-- MANGLED IMAGE -->
                                        <div id="svg-mang-img"></div>
                                </div>
                            </div>
                        </div>
                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                
                                <h3 class="panel-title">Output</h3>
                            </div>
                            <div id="sample-metadata" class="panel-body">
                                    <div id="svg-out-img"></div>
                            </div></center>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


    <!-- <select id="selTransform" onchange="transformChanged(this.value)"></select>
    <select id="selNBpix" onchange="nbpixChanged(this.value)"></select> -->
    <!-- <a href="/random_image" class="btn btn-primary" role="button">Random image</a> -->
    <!-- <a id="random_img_btn" class="btn btn-primary" onclick="randomImage()"  role="button">Random image</a> -->
    <!-- <div id="svg-random-img"></div> -->




    <script src="http://d3js.org/d3.v2.min.js?2.8.1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>