<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bootstrap Components</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>


      <!-- Collect the nav links, forms, and other content for toggling -->

      <nav class="navbar-default" style="background-color: rgb(66,139,202)">
          <!-- <div class="container-fluid">
              <div class="navbar-header"> -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <a class="navbar-brand" href="index.html" style="color: white">
                <i class="glyphicon glyphicon-home"></i>
      
                <a class="navbar-brand" href="info.html" style="color: white; background-color:rgb(66,139,202)">
                    <i class="glyphicon glyphicon-eye-open"></i>
                    <a class="navbar-brand" href="report.html" target="_blank" style="color: white; background-color:rgb(66,139,202)">
                        <i class="glyphicon glyphicon-tasks"></i>
                      </a></ul></div>
  </nav>
<body>

 

<br>
  <div class="container">
      <h3 class="text-center"></h3>
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" alt="...">
            <div class="caption">
              <center><h3>Retinal Implant Technology</h3></center>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail">
            <img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" alt="...">
            <div class="caption">
              <center><h3>Thumbnail label</h3></center>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>