<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bootstrap Components</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/png" href="static/pics/eyeIcon.png"/>
</head>


      <!-- Collect the nav links, forms, and other content for toggling -->

      <nav class="navbar-default" style="background-color: rgb(66,139,202)" style="margin-bottom: 0!important;">
          <!-- <div class="container-fluid">
              <div class="navbar-header"> -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <a class="navbar-brand" href="http://127.0.0.1:5000/" style="color: white">
                <i class="glyphicon glyphicon-home"></i>
                <a class="navbar-brand" href="http://127.0.0.1:5000/info" style="color: rgb(66,139,202); background-color: white">
                  <i class="glyphicon glyphicon-eye-open"></i>
                  <a class="navbar-brand" href="http://127.0.0.1:5000/report" target="_blank" style="color: rgb(66,139,202); background-color:white">
                  <i class="glyphicon glyphicon-tasks"></i>
                <!-- <a class="navbar-brand" href="info.html" style="color: white; background-color:rgb(66,139,202)">
                    <i class="glyphicon glyphicon-eye-open"></i>
                    <a class="navbar-brand" href="report.html" target="_blank" style="color: white; background-color:rgb(66,139,202)">
                        <i class="glyphicon glyphicon-tasks"></i> -->
                      <!-- </a> -->
                    </ul></div></a>
  </nav>

<!-- <body>
  <div class="media-header" style="background-color:white;">
    <center> <h1>Example page header <small>Subtext for header</small></h1></center>
  </div>
</body> -->

<body style="background-color:lightgray;">
<div class="container">
    <h3 class="text-center">
    <h6 class="text-left">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img  src="static/pics/eye.jpg" alt="..."> 
          <div class="caption">
            <h3>Retinal Implant</h3>
            <h5>
                <p>-The system is meant to partially restore useful vision to people who have lost their photoreceptors due to retinal diseases such as retinitis pigmentosa (RP) or age-related macular degeneration (AMD).</p>
                <br>
                <p>-Retinal implants introduce visual information into the retina by electrically stimulating the surviving retinal neurons.</p>
              <!-- <p>-<br>
            <br>-</p> -->
          </h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="static/pics/brain.png" alt="...">
          <div class="caption">
            <h3>Method for Training a Retinal Implant</h3>
            <h5><p>-With our model we used machine learning to be able to calibrate an implant using less shapes and repetitions to train.</p></h5>
          <!-- <br><br><br> -->
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="static/pics/clock.png" alt="...">
          <div class="caption">
            <h3>With More Time +</h3>
            <h5>
              <p>-Adding levels of gray to our inputs, rather than just black and white.</p>
              <br>
              <p>-Ability for the user to upload an image.</p>
              <br>
              <p>-Use the mangled results to inverse the transformation and define the corrected input.</p>
              <br>
              <p>-Apply to randomized and non-linear transformations.</p>
            </h5>
            <!-- <br><br><br><br> -->
          </div>
        </div>
      </div>
    </div>
    <footer style="background-color: rgb(66,139,202)"></footer>
</body>

</html>