<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bootstrap Components</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>


      <!-- Collect the nav links, forms, and other content for toggling -->

      <nav class="navbar-default" style="background-color: rgb(66,139,202)" style="margin-bottom: 0!important;">
          <!-- <div class="container-fluid">
              <div class="navbar-header"> -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <a class="navbar-brand" href="index.html" style="color: white">
                <i class="glyphicon glyphicon-home"></i>
      
                <a class="navbar-brand" href="info.html" style="color: white; background-color:rgb(66,139,202)">
                    <i class="glyphicon glyphicon-eye-open"></i>
                    <a class="navbar-brand" href="report.html" target="_blank" style="color: white; background-color:rgb(66,139,202)">
                        <i class="glyphicon glyphicon-tasks"></i>
                      </a></ul></div>
  </nav>

<!-- <body>
  <div class="media-header" style="background-color:white;">
    <center> <h1>Example page header <small>Subtext for header</small></h1></center>
  </div>
</body> -->

<body style="background-color:lightgray;">
<div class="container">
    <h3 class="text-center">
    <h6 class="text-left">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="photos/eye.jpg" alt="...">
          <div class="caption">
            <h3>Retinal Implant</h3>
            <h6><p>-The system is meant to partially restore useful vision to people who have lost their photoreceptors due to retinal diseases such as retinitis pigmentosa (RP) or age-related macular degeneration (AMD).<br>
            <br>-Retinal implants introduce visual information into the retina by electrically stimulating the surviving retinal neurons.</p></h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="photos/brain.png" alt="...">
          <div class="caption">
            <h3>Method for Training a Retinal Implant</h3>
            <h6><p>-With our model we used machine learning to be able to calibrate an implant using less shapes and repetitions to train.</p></h6>
          <br><br><br></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="photos/clock.png" alt="...">
          <div class="caption">
            <h3>With More Time +</h3>
            <h6><p>-Adding levels of gray to our inputs, rather than just black and white.
              <br>-Ability for the user to upload an image.
            </p></h6><br><br><br><br>
          </h3></div>
        </div>
      </div>
    </div>
    <footer style="background-color: rgb(66,139,202)"></footer>
</body>

</html>